### Exploratory Data Analysis (EDA)

In this phase of the project, we will conduct Exploratory Data Analysis (EDA) to gain insights into the dataset. Our primary objectives include:

1. **Removing Non-significant Data**: We will drop unnecessary features and remove rows that do not contribute meaningfully to our analysis.
  
2. **Fixing Field Values**: We will correct any inconsistencies or errors in the data fields to ensure accuracy and reliability for further analysis.
3. **Handling Missing Values:** We will fill missing values using appropriate strategies:
- **Mean Imputation:** For numerical fields, we will replace NaNs with the mean of the column.
- **Mode Imputation:** For categorical fields, we will replace NaNs with the most frequently occurring value.
- **Zero Imputation:** In cases where it makes sense, we may replace NaNs with zero.

Through these steps, we aim to prepare a clean and informative dataset that will facilitate deeper insights into the factors influencing property prices.

In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\norah\Desktop\Najm AI\Ames_Housing_Data1', sep='\t')
print(df)

      Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0         1  526301100           20        RL         141.0     31770   Pave
1         2  526350040           20        RH          80.0     11622   Pave
2         3  526351010           20        RL          81.0     14267   Pave
3         4  526353030           20        RL          93.0     11160   Pave
4         5  527105010           60        RL          74.0     13830   Pave
...     ...        ...          ...       ...           ...       ...    ...
2925   2926  923275080           80        RL          37.0      7937   Pave
2926   2927  923276100           20        RL           NaN      8885   Pave
2927   2928  923400125           85        RL          62.0     10441   Pave
2928   2929  924100070           20        RL          77.0     10010   Pave
2929   2930  924151050           60        RL          74.0      9627   Pave

     Alley Lot Shape Land Contour  ... Pool Area Pool QC  Fence Misc Feature  \
0      NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
1      NaN       Reg          Lvl  ...         0     NaN  MnPrv          NaN
2      NaN       IR1          Lvl  ...         0     NaN    NaN         Gar2
3      NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
4      NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN
...    ...       ...          ...  ...       ...     ...    ...          ...
2925   NaN       IR1          Lvl  ...         0     NaN  GdPrv          NaN
2926   NaN       IR1          Low  ...         0     NaN  MnPrv          NaN
2927   NaN       Reg          Lvl  ...         0     NaN  MnPrv         Shed
2928   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
2929   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN

     Misc Val Mo Sold Yr Sold Sale Type  Sale Condition  SalePrice
0           0       5    2010       WD           Normal     215000
1           0       6    2010       WD           Normal     105000
2       12500       6    2010       WD           Normal     172000
3           0       4    2010       WD           Normal     244000
4           0       3    2010       WD           Normal     189900
...       ...     ...     ...       ...             ...        ...
2925        0       3    2006       WD           Normal     142500
2926        0       6    2006       WD           Normal     131000
2927      700       7    2006       WD           Normal     132000
2928        0       4    2006       WD           Normal     170000
2929        0      11    2006       WD           Normal     188000

[2930 rows x 82 columns]

**Next, we will count the missing values in each column from the beginning to the end of the dataset in order to evaluate the completeness of each column.**

In [2]:
# Check for NaNs in the DataFrame
nan_summary = df.isna().sum()

# Filter out columns that have NaNs
nan_summary = nan_summary[nan_summary > 0]

# Print the results
if not nan_summary.empty:
    print("Columns with NaNs:")
    for column, count in nan_summary.items():
        print(f"Column: {column}, Number of NaNs: {count}")
else:
    print("No NaNs found in the DataFrame.")

Columns with NaNs:
Column: Lot Frontage, Number of NaNs: 490
Column: Alley, Number of NaNs: 2732
Column: Mas Vnr Type, Number of NaNs: 23
Column: Mas Vnr Area, Number of NaNs: 23
Column: Bsmt Qual, Number of NaNs: 80
Column: Bsmt Cond, Number of NaNs: 80
Column: Bsmt Exposure, Number of NaNs: 83
Column: BsmtFin Type 1, Number of NaNs: 80
Column: BsmtFin SF 1, Number of NaNs: 1
Column: BsmtFin Type 2, Number of NaNs: 81
Column: BsmtFin SF 2, Number of NaNs: 1
Column: Bsmt Unf SF, Number of NaNs: 1
Column: Total Bsmt SF, Number of NaNs: 1
Column: Electrical, Number of NaNs: 1
Column: Bsmt Full Bath, Number of NaNs: 2
Column: Bsmt Half Bath, Number of NaNs: 2
Column: Fireplace Qu, Number of NaNs: 1422
Column: Garage Type, Number of NaNs: 157
Column: Garage Yr Blt, Number of NaNs: 159
Column: Garage Finish, Number of NaNs: 159
Column: Garage Cars, Number of NaNs: 1
Column: Garage Area, Number of NaNs: 1
Column: Garage Qual, Number of NaNs: 159
Column: Garage Cond, Number of NaNs: 159
Column: Pool QC, Number of NaNs: 2917
Column: Fence, Number of NaNs: 2358
Column: Misc Feature, Number of NaNs: 2824

**There are columns that contain a significant number of null values, so we need to drop them.**

In [3]:
df = df.drop(columns=['Alley'])
df = df.drop(columns=['Pool QC'])
df = df.drop(columns=['Fence'])
df = df.drop(columns=['Mas Vnr Type'])
df = df.drop(columns=['Mas Vnr Area'])
df = df.drop(columns=['BsmtFin SF 2'])
df = df.drop(columns=['2nd Flr SF'])
df = df.drop(columns=['Low Qual Fin SF'])
df = df.drop(columns=['Bsmt Full Bath'])
df = df.drop(columns=['Bsmt Half Bath'])
df = df.drop(columns=['Fireplace Qu'])
df = df.drop(columns=['Wood Deck SF'])
df = df.drop(columns=['Open Porch SF'])
df = df.drop(columns=['Enclosed Porch'])
df = df.drop(columns=['3Ssn Porch'])
df = df.drop(columns=['Screen Porch'])
df = df.drop(columns=['Pool Area'])
df = df.drop(columns=['Misc Feature'])
df = df.drop(columns=['Misc Val'])




# Display the modified DataFrame
print("\nDataFrame after dropping the column:")
print(df)

DataFrame after dropping the column:
      Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0         1  526301100           20        RL         141.0     31770   Pave
1         2  526350040           20        RH          80.0     11622   Pave
2         3  526351010           20        RL          81.0     14267   Pave
3         4  526353030           20        RL          93.0     11160   Pave
4         5  527105010           60        RL          74.0     13830   Pave
...     ...        ...          ...       ...           ...       ...    ...
2925   2926  923275080           80        RL          37.0      7937   Pave
2926   2927  923276100           20        RL           NaN      8885   Pave
2927   2928  923400125           85        RL          62.0     10441   Pave
2928   2929  924100070           20        RL          77.0     10010   Pave
2929   2930  924151050           60        RL          74.0      9627   Pave

     Lot Shape Land Contour Utilities  ... Garage Cars Garage Area  \
0          IR1          Lvl    AllPub  ...         2.0       528.0
1          Reg          Lvl    AllPub  ...         1.0       730.0
2          IR1          Lvl    AllPub  ...         1.0       312.0
3          Reg          Lvl    AllPub  ...         2.0       522.0
4          IR1          Lvl    AllPub  ...         2.0       482.0
...        ...          ...       ...  ...         ...         ...
2925       IR1          Lvl    AllPub  ...         2.0       588.0
2926       IR1          Low    AllPub  ...         2.0       484.0
2927       Reg          Lvl    AllPub  ...         0.0         0.0
2928       Reg          Lvl    AllPub  ...         2.0       418.0
2929       Reg          Lvl    AllPub  ...         3.0       650.0

     Garage Qual Garage Cond Paved Drive Mo Sold Yr Sold  Sale Type  \
0             TA          TA           P       5    2010        WD
1             TA          TA           Y       6    2010        WD
2             TA          TA           Y       6    2010        WD
3             TA          TA           Y       4    2010        WD
4             TA          TA           Y       3    2010        WD
...          ...         ...         ...     ...     ...        ...
2925          TA          TA           Y       3    2006        WD
2926          TA          TA           Y       6    2006        WD
2927         NaN         NaN           Y       7    2006        WD
2928          TA          TA           Y       4    2006        WD
2929          TA          TA           Y      11    2006        WD

      Sale Condition  SalePrice
0             Normal     215000
1             Normal     105000
2             Normal     172000
3             Normal     244000
4             Normal     189900
...              ...        ...
2925          Normal     142500
2926          Normal     131000
2927          Normal     132000
2928          Normal     170000
2929          Normal     188000

[2930 rows x 63 columns]

**We will examine the unique values of each feature to check for any remaining NaNs and to understand the distribution of values.**

In [4]:
unique_orders = df['MS Zoning'].unique()

# Print the unique values
print(unique_orders[:200])

['RL' 'RH' 'FV' 'RM' 'C (all)' 'I (all)' 'A (agr)']

We see there are som nans and we will dell with them leatrs but also there are some wrong valus is 'MS Zoning' feature
- A (agr)
- C (all)
- I (all)

we dont need (all) and (agr) so we have to replice them withe the correctd value (A, C, I) only.

In [5]:
df['MS Zoning'] = df['MS Zoning'].replace('I (all)', 'I')
df['MS Zoning'] = df['MS Zoning'].replace('C (all)', 'C')
df['MS Zoning'] = df['MS Zoning'].replace('A (agr)', 'A')

Next, we will deal with the NaN values using different strategies:

1. **Replace NaNs with the Most used Value**: For columns such as 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2', 'Electrical', 'Garage Type', 'Garage Finish', 'Garage Cars', 'Garage Qual', 'Garage Yr Blt', and 'Garage Cond', we will replace NaNs with the most used occurring value.

2. **Replace NaNs with the Mean**: For the columns 'Lot Frontage' and 'Garage Area', we will calculate the mean and replace NaNs with this value.

3. **Replace NaNs with Zero**: For 'Bsmt Unf SF', we will replace NaNs with zero, as it is reasonable to assume that there was no unfinished space in the basement.

**We will calculate the mean of 'Garage Area' specifically for instances where 'Garage Cars' equals 2.0, as the NaN in 'Garage Area' correspond to cases where 'Garage Cars' is 2.0.**

In [6]:
# Calculate the mean
mean_garage_area = df.loc[df['Garage Cars'] == 2.0, 'Garage Area'].mean()

# Display the mean
print(mean_garage_area)

519.2882096069869

In [7]:
df['Bsmt Qual'] = df['Bsmt Qual'].fillna('TA')
df['Bsmt Cond'] = df['Bsmt Cond'].fillna('TA')
df['Bsmt Exposure'] = df['Bsmt Exposure'].fillna('No')
df['BsmtFin Type 1'] = df['BsmtFin Type 1'].fillna('GLQ')
df['BsmtFin Type 2'] = df['BsmtFin Type 2'].fillna('Unf')
df['Electrical'] = df['Electrical'].fillna('SBrkr')
df['Garage Type'] = df['Garage Type'].fillna('Attchd')
df['Garage Finish'] = df['Garage Finish'].fillna('Unf')
df['Garage Cars'] = df['Garage Cars'].fillna(2)
df['Garage Qual'] = df['Garage Qual'].fillna('TA')
df['Garage Yr Blt'] = df['Garage Yr Blt'].fillna(2005)
df['Garage Cond'] = df['Garage Cond'].fillna('TA')
df['Lot Frontage'] = df['Lot Frontage'].fillna(69)
df['Bsmt Unf SF'] = df['Bsmt Unf SF'].fillna(0)
df['Garage Area'] = df['Garage Area'].fillna(519)

In [8]:

columns_of_interest = ['BsmtFin SF 1', 'Bsmt Unf SF', 'Total Bsmt SF']

# Filter rows where at least one specified column is NaN
nan_rows = df[df[columns_of_interest].isnull().any(axis=1)][columns_of_interest]

# Display the filtered rows
print(nan_rows)

      BsmtFin SF 1  Bsmt Unf SF  Total Bsmt SF
1341           NaN          NaN            NaN

**We observe that 'BsmtFin SF 1', 'Bsmt Unf SF', and 'Total Bsmt SF' all have NaN values in the same row. Since these features are related, we cannot address the NaNs individually. Therefore, we will need to drop this row from the dataset.**

In [8]:
# Drop a specific row
df = df.drop(index=1341)

# Reset the index
df = df.reset_index(drop=True)

# Display the updated DataFrame with reset indices
print(df)

      Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0         1  526301100           20        RL         141.0     31770   Pave
1         2  526350040           20        RH          80.0     11622   Pave
2         3  526351010           20        RL          81.0     14267   Pave
3         4  526353030           20        RL          93.0     11160   Pave
4         5  527105010           60        RL          74.0     13830   Pave
...     ...        ...          ...       ...           ...       ...    ...
2924   2926  923275080           80        RL          37.0      7937   Pave
2925   2927  923276100           20        RL          69.0      8885   Pave
2926   2928  923400125           85        RL          62.0     10441   Pave
2927   2929  924100070           20        RL          77.0     10010   Pave
2928   2930  924151050           60        RL          74.0      9627   Pave

     Lot Shape Land Contour Utilities  ... Garage Cars Garage Area  \
0          IR1          Lvl    AllPub  ...         2.0       528.0
1          Reg          Lvl    AllPub  ...         1.0       730.0
2          IR1          Lvl    AllPub  ...         1.0       312.0
3          Reg          Lvl    AllPub  ...         2.0       522.0
4          IR1          Lvl    AllPub  ...         2.0       482.0
...        ...          ...       ...  ...         ...         ...
2924       IR1          Lvl    AllPub  ...         2.0       588.0
2925       IR1          Low    AllPub  ...         2.0       484.0
2926       Reg          Lvl    AllPub  ...         0.0         0.0
2927       Reg          Lvl    AllPub  ...         2.0       418.0
2928       Reg          Lvl    AllPub  ...         3.0       650.0

     Garage Qual Garage Cond Paved Drive Mo Sold Yr Sold  Sale Type  \
0             TA          TA           P       5    2010        WD
1             TA          TA           Y       6    2010        WD
2             TA          TA           Y       6    2010        WD
3             TA          TA           Y       4    2010        WD
4             TA          TA           Y       3    2010        WD
...          ...         ...         ...     ...     ...        ...
2924          TA          TA           Y       3    2006        WD
2925          TA          TA           Y       6    2006        WD
2926          TA          TA           Y       7    2006        WD
2927          TA          TA           Y       4    2006        WD
2928          TA          TA           Y      11    2006        WD

      Sale Condition  SalePrice
0             Normal     215000
1             Normal     105000
2             Normal     172000
3             Normal     244000
4             Normal     189900
...              ...        ...
2924          Normal     142500
2925          Normal     131000
2926          Normal     132000
2927          Normal     170000
2928          Normal     188000

[2929 rows x 63 columns]

**We need to convert the float features into integers to ensure consistency and facilitate further analysis.**

In [9]:
df['Lot Frontage'] = df['Lot Frontage'].astype(int)
df['Total Bsmt SF'] = df['Total Bsmt SF'].astype(int)
df['Garage Area'] = df['Garage Area'].astype(int)
df['BsmtFin SF 1'] = df['BsmtFin SF 1'].astype(int)
df['Bsmt Unf SF'] = df['Bsmt Unf SF'].astype(int)
df['Garage Yr Blt'] = df['Garage Yr Blt'].astype(int)
df['Garage Cars'] = df['Garage Cars'].astype(int)

# Verify the change
print("\nAfter conversion:")
print(df['Lot Frontage'])
print("New data type:", df['Lot Frontage'].dtype)

After conversion:
0       141
1        80
2        81
3        93
4        74
       ...
2924     37
2925     69
2926     62
2927     77
2928     74
Name: Lot Frontage, Length: 2929, dtype: int32
New data type: int32

**Then clean the feature names by replacing the spaces with underscores, changing "1st" to "First," and so on.**

In [10]:
# Replace spaces with underscores in the column names (features)
df.columns = (
    df.columns.str.replace(' ', '_', regex=False)
    .str.replace('.', '_', regex=False)  # Replace periods with underscores
    .str.replace('1st', 'First', regex=False)
    .str.replace('Year_Remod/Add', 'Year_Remod_Add', regex=False)
    .str.replace('/', '_', regex=False)  # Replace slashes with underscores
    .str.replace('&', 'and', regex=False)  # Replace ampersands if needed
)
df.columns = df.columns.str.replace('Wd Sdng', 'Wd_Sdng', regex=False)
# Display the updated DataFrame with new feature names
print(df)

      Order        PID  MS_SubClass MS_Zoning  Lot_Frontage  Lot_Area Street  \
0         1  526301100           20        RL           141     31770   Pave
1         2  526350040           20        RH            80     11622   Pave
2         3  526351010           20        RL            81     14267   Pave
3         4  526353030           20        RL            93     11160   Pave
4         5  527105010           60        RL            74     13830   Pave
...     ...        ...          ...       ...           ...       ...    ...
2924   2926  923275080           80        RL            37      7937   Pave
2925   2927  923276100           20        RL            69      8885   Pave
2926   2928  923400125           85        RL            62     10441   Pave
2927   2929  924100070           20        RL            77     10010   Pave
2928   2930  924151050           60        RL            74      9627   Pave

     Lot_Shape Land_Contour Utilities  ... Garage_Cars Garage_Area  \
0          IR1          Lvl    AllPub  ...           2         528
1          Reg          Lvl    AllPub  ...           1         730
2          IR1          Lvl    AllPub  ...           1         312
3          Reg          Lvl    AllPub  ...           2         522
4          IR1          Lvl    AllPub  ...           2         482
...        ...          ...       ...  ...         ...         ...
2924       IR1          Lvl    AllPub  ...           2         588
2925       IR1          Low    AllPub  ...           2         484
2926       Reg          Lvl    AllPub  ...           0           0
2927       Reg          Lvl    AllPub  ...           2         418
2928       Reg          Lvl    AllPub  ...           3         650

     Garage_Qual Garage_Cond Paved_Drive Mo_Sold Yr_Sold  Sale_Type  \
0             TA          TA           P       5    2010        WD
1             TA          TA           Y       6    2010        WD
2             TA          TA           Y       6    2010        WD
3             TA          TA           Y       4    2010        WD
4             TA          TA           Y       3    2010        WD
...          ...         ...         ...     ...     ...        ...
2924          TA          TA           Y       3    2006        WD
2925          TA          TA           Y       6    2006        WD
2926          TA          TA           Y       7    2006        WD
2927          TA          TA           Y       4    2006        WD
2928          TA          TA           Y      11    2006        WD

      Sale_Condition  SalePrice
0             Normal     215000
1             Normal     105000
2             Normal     172000
3             Normal     244000
4             Normal     189900
...              ...        ...
2924          Normal     142500
2925          Normal     131000
2926          Normal     132000
2927          Normal     170000
2928          Normal     188000

[2929 rows x 63 columns]

**Save the data in a file so that it can be used in the next step with OLS and Scikit-learn.**

In [11]:
df.to_csv(r'C:\Users\norah\Desktop\Najm AI\cleaned_Data_Ames_Housing_Data.csv', sep='\t', index=False)

In [12]:
EDA = pd.read_csv(r'C:\Users\norah\Desktop\Najm AI\cleaned_Data_Ames_Housing_Data.csv', sep='\t')
print(EDA)

      Order        PID  MS_SubClass MS_Zoning  Lot_Frontage  Lot_Area Street  \
0         1  526301100           20        RL           141     31770   Pave
1         2  526350040           20        RH            80     11622   Pave
2         3  526351010           20        RL            81     14267   Pave
3         4  526353030           20        RL            93     11160   Pave
4         5  527105010           60        RL            74     13830   Pave
...     ...        ...          ...       ...           ...       ...    ...
2924   2926  923275080           80        RL            37      7937   Pave
2925   2927  923276100           20        RL            69      8885   Pave
2926   2928  923400125           85        RL            62     10441   Pave
2927   2929  924100070           20        RL            77     10010   Pave
2928   2930  924151050           60        RL            74      9627   Pave

     Lot_Shape Land_Contour Utilities  ... Garage_Cars Garage_Area  \
0          IR1          Lvl    AllPub  ...           2         528
1          Reg          Lvl    AllPub  ...           1         730
2          IR1          Lvl    AllPub  ...           1         312
3          Reg          Lvl    AllPub  ...           2         522
4          IR1          Lvl    AllPub  ...           2         482
...        ...          ...       ...  ...         ...         ...
2924       IR1          Lvl    AllPub  ...           2         588
2925       IR1          Low    AllPub  ...           2         484
2926       Reg          Lvl    AllPub  ...           0           0
2927       Reg          Lvl    AllPub  ...           2         418
2928       Reg          Lvl    AllPub  ...           3         650

     Garage_Qual Garage_Cond Paved_Drive Mo_Sold Yr_Sold  Sale_Type  \
0             TA          TA           P       5    2010        WD
1             TA          TA           Y       6    2010        WD
2             TA          TA           Y       6    2010        WD
3             TA          TA           Y       4    2010        WD
4             TA          TA           Y       3    2010        WD
...          ...         ...         ...     ...     ...        ...
2924          TA          TA           Y       3    2006        WD
2925          TA          TA           Y       6    2006        WD
2926          TA          TA           Y       7    2006        WD
2927          TA          TA           Y       4    2006        WD
2928          TA          TA           Y      11    2006        WD

      Sale_Condition  SalePrice
0             Normal     215000
1             Normal     105000
2             Normal     172000
3             Normal     244000
4             Normal     189900
...              ...        ...
2924          Normal     142500
2925          Normal     131000
2926          Normal     132000
2927          Normal     170000
2928          Normal     188000

[2929 rows x 63 columns]

In [13]:
EDA.head()

,Order,PID,MS_SubClass,MS_Zoning,Lot_Frontage,Lot_Area,Street,Lot_Shape,Land_Contour,Utilities,...,Garage_Cars,Garage_Area,Garage_Qual,Garage_Cond,Paved_Drive,Mo_Sold,Yr_Sold,Sale_Type,Sale_Condition,SalePrice
0,1,526301100,20,RL,141,31770,Pave,IR1,Lvl,AllPub,...,2,528,TA,TA,P,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80,11622,Pave,Reg,Lvl,AllPub,...,1,730,TA,TA,Y,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81,14267,Pave,IR1,Lvl,AllPub,...,1,312,TA,TA,Y,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93,11160,Pave,Reg,Lvl,AllPub,...,2,522,TA,TA,Y,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74,13830,Pave,IR1,Lvl,AllPub,...,2,482,TA,TA,Y,3,2010,WD,Normal,189900

In [14]:
print(EDA.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2929 entries, 0 to 2928
Data columns (total 63 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order           2929 non-null   int64
 1   PID             2929 non-null   int64
 2   MS_SubClass     2929 non-null   int64
 3   MS_Zoning       2929 non-null   object
 4   Lot_Frontage    2929 non-null   int64
 5   Lot_Area        2929 non-null   int64
 6   Street          2929 non-null   object
 7   Lot_Shape       2929 non-null   object
 8   Land_Contour    2929 non-null   object
 9   Utilities       2929 non-null   object
 10  Lot_Config      2929 non-null   object
 11  Land_Slope      2929 non-null   object
 12  Neighborhood    2929 non-null   object
 13  Condition_1     2929 non-null   object
 14  Condition_2     2929 non-null   object
 15  Bldg_Type       2929 non-null   object
 16  House_Style     2929 non-null   object
 17  Overall_Qual    2929 non-null   int64
 18  Overall_Cond    2929 non-null   int64
 19  Year_Built      2929 non-null   int64
 20  Year_Remod_Add  2929 non-null   int64
 21  Roof_Style      2929 non-null   object
 22  Roof_Matl       2929 non-null   object
 23  Exterior_First  2929 non-null   object
 24  Exterior_2nd    2929 non-null   object
 25  Exter_Qual      2929 non-null   object
 26  Exter_Cond      2929 non-null   object
 27  Foundation      2929 non-null   object
 28  Bsmt_Qual       2929 non-null   object
 29  Bsmt_Cond       2929 non-null   object
 30  Bsmt_Exposure   2929 non-null   object
 31  BsmtFin_Type_1  2929 non-null   object
 32  BsmtFin_SF_1    2929 non-null   int64
 33  BsmtFin_Type_2  2929 non-null   object
 34  Bsmt_Unf_SF     2929 non-null   int64
 35  Total_Bsmt_SF   2929 non-null   int64
 36  Heating         2929 non-null   object
 37  Heating_QC      2929 non-null   object
 38  Central_Air     2929 non-null   object
 39  Electrical      2929 non-null   object
 40  First_Flr_SF    2929 non-null   int64
 41  Gr_Liv_Area     2929 non-null   int64
 42  Full_Bath       2929 non-null   int64
 43  Half_Bath       2929 non-null   int64
 44  Bedroom_AbvGr   2929 non-null   int64
 45  Kitchen_AbvGr   2929 non-null   int64
 46  Kitchen_Qual    2929 non-null   object
 47  TotRms_AbvGrd   2929 non-null   int64
 48  Functional      2929 non-null   object
 49  Fireplaces      2929 non-null   int64
 50  Garage_Type     2929 non-null   object
 51  Garage_Yr_Blt   2929 non-null   int64
 52  Garage_Finish   2929 non-null   object
 53  Garage_Cars     2929 non-null   int64
 54  Garage_Area     2929 non-null   int64
 55  Garage_Qual     2929 non-null   object
 56  Garage_Cond     2929 non-null   object
 57  Paved_Drive     2929 non-null   object
 58  Mo_Sold         2929 non-null   int64
 59  Yr_Sold         2929 non-null   int64
 60  Sale_Type       2929 non-null   object
 61  Sale_Condition  2929 non-null   object
 62  SalePrice       2929 non-null   int64
dtypes: int64(26), object(37)
memory usage: 1.4+ MB
None